body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #121212; */
    /* background: #121212;
    background: linear-gradient(138deg, #121212 50%, #f2f2f2 100%);
    background: -webkit-linear-gradient(138deg, #121212 50%, #f2f2f2 100%);
    background: -moz-linear-gradient(138deg, #121212 50%, #f2f2f2 100%); */
    /* background: linear-gradient(135deg, #009ec3 42%,#00b7ea 52%,#00b7ea 52%,#00b7ea 53%,#00b7ea 81%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: url(./img/teste-fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    /* background-color: #1E1E1E;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 300px;
    max-width: 80%; */
        background-color: #1E1E1E;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 0px 10px -4px #cecece;
}

.img-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #53a3d1;
    box-shadow: 0 0px 20px -3px #1e49a9;
}

.title {
    text-transform: capitalize;
    text-shadow: -2px 0px 10px #1e49a9;
}

.sub-title {
    color: #53a3d1;
    font-size: 14px;
    margin-top: 5px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 40px;
    margin: 20px 0;
    background-color: #121212;
    gap: 5px;
    text-decoration: none;
    box-shadow: 0 0px 10px -4px #377feb;
    color: #FFFFFF;
    font-size: 20px;
    transition: all 0.5s ease;

}
.link:hover {
    background-color: #1e4aa9b7;
    box-shadow: 0 0px 10px 2px #5b9bfc;
    color: #ffffffce;
    
    
}

.link p {
    color: #FFFFFF;
}

.img-link

.container .link i {
    /* color: #FFFFFF;
    font-size: 20px;
    background-color: #cecece; */
    color: #cecece;
    font-size: 24px;
}




@media(max-width: 600px) {

    .container {
        background-color: transparent;
        max-width: none;
        box-shadow: none;
        
    }
}